{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm login-area lb1">
    <div id="welcomePicDiv" width="100px">
        <img src="https://i.imgur.com/Qv4sVKi.png" width="520px"/>
    </div>
    <form action="/auth/login" method="POST">
        <fieldset>
            <legend>Please log in to continue:</legend>
            <label class="form-label"></label>
            <input type="text" name="username" placeholder="username" class="form-control" required>
            <label class="form-label"></label>
            <input type="password" name="password" placeholder="enter password" class="form-control" required>
        </fieldset>
        <input type="submit" value="Log In" class="btn btn-success">
    </form>
    <div id="loginPicDiv">
        <img src="https://i.imgur.com/tgrSUky.png">
    </div>
</div>

{% endblock %}