{% layout 'layout.liquid'%}
{% block content %}

<div>
    <h2 class="display-6"> My Favorite Villagers</h2>
    <div class="row my-villagers">
        {% for villager in MyVillagers %}
        <div class="card cb1">
            <h5 class="card-header">{{ villager.name}}</h5>
            <a href="/villagers/my_villagers/{{ villager.id}}"> 
                <img id="villager-icon-link" src="{{ villager.iconUrl }}" width="80" height="80">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}