{% layout 'layout.liquid'%}
{% block content %}

<div>
    <h2 class="display-6"> My Villagers</h2>
    <div class="row">
        {% for villager in MyVillagers limit:50 %}
        <div class="card cb1">
            <h5 class="card-header">{{ villager.name}}</h5>
            <a href="/villagers/{{ villager["id"]}}">
                <img src="{{ villager.iconUrl }}" width="80" height="80">
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}