body {
    background: url("https://i.imgur.com/GOobOL5.png") no-repeat top center fixed;
    font-family: 'Quicksand', sans-serif;
}


.nav-custom {
    background-color: rgba(62,152,145); 
}

.fav-button {
    text-align: center;
    color:whitesmoke;
    background-color: rgba(62,152,145, 0.9); 
}

.all-villagers {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* STYLING FOR CARDS ON INDEX VILLAGERS PAGE */
.card {
    display: flex;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 15px;
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(0.4rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.1)
}

.cb1 {
   background-color: rgba(255, 255, 255, 0.1); 
   
}

/* STYLING FOR DIV ON LOGIN PAGE */
.login-area {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 0rem;
    padding: 20px;
    height: 55rem;
    width: 50%; */
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.1)
}

.lb1 {
    text-align: center;
    position: absolute;
    left: 30%;
    margin: auto;
    height: 94%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.1); 
}

/* .tom {
    position: absolute;
} */

#villager-icon-link {
    border-radius: 50%;
    /* background-color: black; */
    transition: 0.5s;
}

#villager-icon-link:hover {
    transform: scale(1.3);
    z-index: 2;
}