{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6"> All Villagers</h2>
    <div class="row">
        {% for animal in animalData %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ animal["name"]["name-USen"] }}</h5>
            <img src="{{ animal["icon_uri"] }}" width="50" height="50">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}