{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
   <h1>{{ animal["name"]["name-USen"] }}</h1>
   <img src="{{ animal["icon_uri"] }}" width="80" height="80">
   <p>{{ anime["personality"] }}</p>
</div>
{% endblock %}